@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
body{ margin:0; font-size:12px; font-family:"宋体","微软雅黑"; background:#FFF;}
*{ margin:0; padding:0; border:0; list-style:none;}
#warp{ width:100%;}
/*header*/
#header{ height:230px; background:url(../img/banner.jpg) no-repeat left top;}
#header .text{ width:535px; height:50px; padding:56px 0 0 126px;}
#header .text h1{ font-size:45px;}
#header .text h3{ padding-top:10px; padding-left:10px; color:#FFF;}
/*contents*/
#contents{ width:1320px; height:300px; margin:0 auto; border-top:2px solid #0071ab; }
#contents .all{ width:1320px; height:300px;  border-top: 2px solid #b4c0c4; margin-top:30px;}
#contents .all ul { height:300px; width:500px; margin:0 auto; padding-top:30px;}
#contents .all ul li{  padding-right:15px; float:left;}
#contents .all ul li .opencom{ width:230px; height:100px; background:url(../img/but4.gif) no-repeat left top;}
#contents .all ul li .openper{ width:230px; height:100px; background:url(../img/btn1.gif) no-repeat left top;}
